# --- Core Framework & UI ---
streamlit>=1.32.0
streamlit-extras>=1.5.0
pandas>=2.2.0

# --- S3 & AWS Integration ---
boto3>=1.34.85
botocore>=1.34.85
python-dotenv>=1.0.1
urllib3>=2.6.3

# Logging utils
# xlsxwriter>=3.2.9
defusedxml>=0.7.1
fpdf2>=2.8.7

# --- Data Engineering & Serialization ---
pyarrow>=15.0.0
setuptools>=82.0.1

# --- Japanese Logic & Enrichment ---
# jamdict>=0.1.1
# jamdict>=0.1a11
# jamdict-data>=1.0.0
# none of the installs worked due to .db file size so manual install was done cf. generic debug gem convo
# the jamdict.db file is at C:\Users\celin\.jamdict\data
pykakasi>=2.2.1
requests>=2.31.0
chardet>=7.4.3
ipadic>=1.0.0 
mecab-python3>=1.0.12

# --- Data Visualization & Analysis ---
plotly>=5.19.0
kaleido==0.2.1
matplotlib>=3.8.0
seaborn>=0.13.0
missingno>=0.5.2

# --- Communication & Automation ---
resend>=0.6.0

# --- Testing & Code Quality ---
pytest>=8.0.0
pytest-mock>=3.12.0

# --- Progress Tracking ---
tqdm>=4.66.0